[Unit]
Description=Blue Green Canary App
Documentation=https://github.com/kameshsampath/gloo-bgc-demo
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/opt/app
ExecStart=npm run start
Restart=on-failure
TimeoutStopSec=30
KillMode=process

[Install]
WantedBy=multi-user.target